<div class="row">
    <div class="col-xs-12">
        <h2>Watchlist</h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">Forrest Gump (1994)</h4>
                <p class="list-group-item-text">Robert Zemeckis</p>
            </div>
            <span class="pull-right">
        <img
          src="https://images-na.ssl-images-amazon.com/images/M/MV5BYThjM2MwZGMtMzg3Ny00NGRkLWE4M2EtYTBiNWMzOTY0YTI4XkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_UY67_CR3,0,45,67_AL_.jpg"
          alt="Forrest Gump"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
        </a>
    </div>
</div>